@charset "utf-8";
.sec1{
	 background:#CCC;
 }
 .sec1 h4{
	float:left;
	 color:blue;
	 margin-top: 56px;
 }
  .sec2{
	    padding-left: 0px;
	    margin-left: -13px;
	 
	  }
	  .team.members {
    color: red;
    margin-bottom: 17px;
    padding: 16px;
    font-size: 28px;
}
.team {
    color: red;
    margin-bottom: 17px;
    padding: 16px;
    font-size: 28px;
}
