@charset "utf-8";
/* CSS Document */
 .sec1{
	 background:#CCC;
 }
 .sec1 h4{
	float:left;
	 color:blue;
	 margin-top: 56px;
 }
  .sec2{
	    padding-left: 0px;
	    margin-left: -13px;
	 
	  }
	  .sec2 h1{
		  text-align:center;
		  color:#C00;
	  }
  .sec2 tabl1{
	  
  }
