@charset "utf-8";
/* CSS Document */
 .sec1{
	 background:#69F;
 }
 .sec1 h4{
	float:left;
	 color:#CCC;
	 margin-top: 56px;
 }
  .sec2{
	    padding-left: 0px;
	    margin-left: -13px;
		background:#CCC;
	 
	  }
	  .sec2 h1{
		  text-align:center;
		  color:#C03;
	  }
  .sec2 tabl1{
	  float:right;
	  
  }
 .sec2 li {
    padding: 6px;
	margin-bottom: -23px;
}
